<nav class="nav nav-pills center">

    {{#if userId}}
    <a class="navbar-brand" href="/user/{{userId}}/home"><img src="/public/logo_inline.png" alt="Logo" height="70"></a>
    <a class="nav-link" href="/user/{{userId}}/dashboard">Dashboard</a>
    <a class="nav-link" href="/user/{{userId}}/search">Search People</a>
    <a class="nav-link" href="/user/{{userId}}/profile">Profile</a>
    <a class="nav-link" href="/user/{{userId}}/logout">Logout</a>
    {{else}}
    <a class="navbar-brand" href="/"><img src="/public/logo_inline.png" alt="Logo" height="70"></a>
    <a class="nav-link" href="/user/register-login">Register/Login</a>
    {{/if}}
</nav>

<hr>

<h1>Welcome to Jesusgram!</h1>
<br>
<h5>Jesusgram is a photo and video sharing social network. </h5>
<strong>Author: André Jesus</strong>

<br>

<img src="/public/logo.png" alt="Logo" class="rounded mx-auto d-block">